body {
  background-color: #F5F5F1; }

header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E1E3DF; }
  header .topHead {
    border-bottom: 1px solid #E1E3DF;
    height: 100px; }
  header .headContainer {
    margin: 0 auto;
    text-align: center;
    width: 980px;
    height: 100px; }
    header .headContainer h2 {
      font-family: 'times new roman';
      font-weight: 400;
      color: #F76400;
      font-size: 2.5em;
      display: inline-block; }
  header .leftbar {
    float: left;
    height: 100px; }
    header .leftbar h2 {
      display: inline-block; }
    header .leftbar .searchbar {
      display: inline-block;
      border-radius: 3px;
      border: 1px solid #E1E3DF;
      overflow: hidden;
      height: 37px; }
      header .leftbar .searchbar input {
        padding: 10px;
        border: none;
        background-color: #F5F5F1; }
        header .leftbar .searchbar input:focus {
          outline-width: 0;
          background-color: white; }
      header .leftbar .searchbar button {
        background-color: #2BA8C6;
        color: white;
        border: 1px solid #2798B3;
        padding: 10px; }
  header .rightbar {
    display: inline-block;
    float: right;
    margin-top: 50px; }
    header .rightbar li {
      display: inline-block;
      padding-right: 10px; }
      header .rightbar li button {
        padding: 8px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #0092B7; }
        header .rightbar li button:hover {
          background-color: #F0FBFD; }
      header .rightbar li a {
        text-decoration: none;
        color: #0092B7; }
        header .rightbar li a .cart {
          color: black;
          opacity: 75% header .rightbar li a .cart;
            opacity-opacity: 100%; }

navbar {
  text-align: center;
  width: 980px;
  height: 15px;
  margin: 0 auto;
  display: block;
  padding: 15px 0; }
  navbar a {
    text-decoration: none;
    color: #666;
    padding: 0px 10px;
    padding-bottom: 10px;
    font-size: 13px;
    float: left; }
    navbar a:hover {
      border-bottom: 5px solid #F76400; }

.wrapper {
  margin: 0 auto;
  width: 980px; }

.sidebar {
  float: left;
  width: 25%;
  margin-right: 10px; }
  .sidebar a {
    text-decoration: none;
    color: #0092B7; }
    .sidebar a:hover {
      text-decoration: underline; }
  .sidebar #sidebar1 {
    border-radius: 3px;
    background-color: white;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    font-size: 13px; }
    .sidebar #sidebar1 ul {
      list-style: none;
      line-height: 25px;
      padding-left: 10px; }
      .sidebar #sidebar1 ul .strong {
        padding-left: 0px; }
      .sidebar #sidebar1 ul li {
        padding-left: 15px; }
  .sidebar #sidebar2 {
    border-radius: 3px;
    background-color: white;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    font-size: 13px;
    text-decoration: none; }
    .sidebar #sidebar2 label {
      margin-bottom: -10px;
      display: block; }
      .sidebar #sidebar2 label input {
        margin-right: 5px; }
    .sidebar #sidebar2 .sideunit {
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid #E1E3DF; }
    .sidebar #sidebar2 .pad {
      padding: 15px; }
      .sidebar #sidebar2 .pad button {
        height: 20px;
        width: 20px; }
      .sidebar #sidebar2 .pad .priceBox {
        display: inline-block; }
        .sidebar #sidebar2 .pad .priceBox input {
          height: 20px;
          width: 40px; }

.content {
  width: 73%;
  float: right; }
  .content .righty {
    float: right;
    display: inline-block; }
  .content .lefty {
    float: left;
    display: inline-block; }

.rlstein {
  height: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 13px; }
  .rlstein a {
    text-decoration: none;
    color: #0092B7; }

#cat:hover {
  text-decoration: underline; }

.imgcontainer {
  border-radius: 3px;
  background-color: white;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  width: 30%;
  height: 220px;
  display: inline-block;
  font-size: 13px;
  overflow: hidden;
  margin: 9px;
  position: relative; }
  .imgcontainer:hover .hoverCont {
    opacity: 1; }
  .imgcontainer img {
    width: 100%; }
  .imgcontainer .hoverCont {
    opacity: 0;
    position: absolute;
    top: 7px;
    right: 7px; }
    .imgcontainer .hoverCont button {
      border-radius: 3px;
      background-color: white;
      border: 1px solid #E1E3DF;
      border-bottom-color: #CBCCC9;
      height: 30px;
      width: 30px; }
      .imgcontainer .hoverCont button img {
        width: 110%; }
  .imgcontainer .textContainer {
    padding: 7px; }
  .imgcontainer .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    color: #666; }
    .imgcontainer .title:hover {
      cursor: pointer; }
  .imgcontainer .price {
    display: inline-block;
    float: right;
    margin-top: 5px;
    color: #7EC646; }
  .imgcontainer a {
    display: inline-block;
    float: left;
    margin-top: 5px;
    color: #aaa;
    text-decoration: none; }
    .imgcontainer a:hover {
      text-decoration: underline; }

.strong {
  font-weight: bold; }
